@model List<ProyectoPAU.Models.Usuario>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@section Estilos {

}

<div class="container mt-5 px-2">

    <div class="mb-2 d-flex justify-content-between align-items-center">

        <div class="position-relative">
            <span class="position-absolute search"><i class="fa fa-search"></i></span>
            <input class="form-control w-100" placeholder="Search by order#, name...">
        </div>

        <div>
            <td class="position-relative">
                <button type="button" class="btn btn-sm btn-light"><a href="@Url.Action("","")" class="fa fa-trash">Agregar</a> </button>
            </td>

        </div>






    </div>
    <div class="table-responsive">
        <table class="table table-responsive table-borderless">




            <thead>
                <tr class="bg-light">
                  
                    <th scope="col" width="20%">Nombre</th>
                    <th scope="col" width="10%">Apellido</th>
                    <th scope="col" width="20%">Precio</th>

                    <th scope="col" width="20%"><span>Editar</span></th>
                    <th scope="col" width="20%"><span>Desactivar </span></th>

                    <th scope="col" width="20%"><span>Estado </span></th>
                </tr>
            </thead>
            <tbody>



                @foreach (var usuario in Model)
                {
                    <tr>
                        
                        <td>@usuario.Nombre</td>
                        <td><i class="fa fa-check-circle-o green"></i><span class="ms-1">@usuario.Apellido</span></td>
                        <td> ₡@usuario.Email</td>
                        <td class="">
                            <a  asp-controller="AdminUsuario" asp-action="EditarUsuario" asp-route-Email="@usuario.Email" class="btn btn-sm btn-secondary mx-1"><i class="fa fa-pencil"></i> Editar</a>
                        </td>
                        <td class="">
                            <form id="formEliminarUsuario" method="get" action="@Url.Action("DesactivarUsuario", "AdminUsuario")">
                                @Html.Hidden("email", usuario.Email)
                                <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> Desactivar</button>
                            </form>
                        </td>

                        @if (usuario.Activo == false )
                        {
                            <td> Desactivado</td>
                        }
                        else
                        {
                            <td>Activado</td>
                        }
                     
                    </tr>
                }



            </tbody>
        </table>

    </div>

</div>




