
@{
    ViewData["Title"] = "ProductoDetalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ProyectoPAU.Models.Producto;


<div class="item-details section">
    <div class="container">
        <div class="top-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="product-images">
                        <main id="gallery">
                            <div class="main-img">
                                <img src="data:image/png;base64,@Model.Foto" id="current" alt="#">
                            </div>
                        </main>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="product-info">
                     
                        <h2 class="title">@Model.Nombre</h2>
                        <p class="category">
                            <i class="lni lni-tag"></i> Drones:<a href="javascript:void(0)">
                                Action
                                cameras
                            </a>
                        </p>
                        <h3 class="price">$@Model.Precio<span>$945</span></h3>
                        <p class="info-text">
                            @Model.Descripcion
                        </p>
                        <div class="row">
                            <div>
                                <label>Cantidad </label>
                                <input id="cantidad" class="form-control" type="number"/>
                            </div>
                        </div>
                        <div class="bottom-content">
                            <div class="row align-items-end">
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="button cart-button">
                                        <button class="btn" id="btnAgregarAlCarrito" style="width: 100%;">Add to Cart</button>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="wish-button">
                                        <button class="btn"><i class="lni lni-reload"></i> Compare</button>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="wish-button">
                                        <button class="btn"><i class="lni lni-heart"></i> To Wishlist</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-details-info">
            <div class="single-block">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="info-body custom-responsive-margin">
                            <h4>Details</h4>
                            <p>
                                @Model.Detalles.
                            </p>
                            <h4>Features</h4>
                            
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
      


    </div>
</div>


@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const botonAgregarAlCarrito = document.getElementById('btnAgregarAlCarrito');

            botonAgregarAlCarrito.addEventListener('click', function () {
                // Obtener la ID del producto desde el modelo de Razor
                let productoId = '@Model.IdProducto';

                let precioUnitario = '@Model.Precio'

                // Obtener la cantidad ingresada por el usuario (ejemplo: asumiendo que el input tiene ID 'cantidad')
                let cantidadInput = document.getElementById('cantidad');
                let cantidad = parseInt(cantidadInput.value); // Convertir la cantidad a un número entero

                // Verificar si la cantidad es un número válido
                if (isNaN(cantidad)) {
                    console.error('La cantidad ingresada no es un número válido');
                    return; // Salir de la función si la cantidad no es válida
                }

                // Crear un objeto con los datos del producto
                const carrito = {
                    idProducto: productoId,
                    cantidad: cantidad,
                    precioUnitario: precioUnitario
                };

                // Realizar una solicitud POST al servidor
                fetch('@Url.Action("AgregarAlCarrito", "Carrito")', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(carrito)
                })
                    .then(response => {
                        if (response.ok) {
                            // Manejar la respuesta si es exitosa
                            Swal.fire({
                                title: 'Nuevo',
                                text: '¡Producto agregado!',
                              
                                confirmButtonText: 'OK'
                            }).then((result) => {
                                // Redirigir después de hacer clic en OK
                                window.location.href = '@Url.Action("Index", "Home")';
                            });
                        } else {
                            // Manejar errores si la respuesta no es exitosa
                            console.error('Error al agregar producto al carrito');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            });
        });


    </script>
}


