
@{
    ViewData["Title"] = "ProductoDetalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ProyectoPAU.Models.Producto;


<div class="item-details section">
    <div class="container">
        <div class="top-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="product-images">
                        <main id="gallery">
                            <div class="main-img">
                                <img src="data:image/png;base64,@Model.Foto" id="current" alt="#">
                            </div>
                        </main>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="product-info">
                     
                        <h2 class="title">@Model.Nombre</h2>
                        <p class="category">
                            <i class="lni lni-tag"></i> Drones:<a href="javascript:void(0)">
                                Action
                                cameras
                            </a>
                        </p>
                        <h3 class="price">$@Model.Precio<span>$945</span></h3>
                        <p class="info-text">
                            @Model.Descripcion
                        </p>
                        <div class="row">
                            <div>
                                <label>Cantidad </label>
                                <input id="cantidad" min="1" max="5"class="form-control" type="number" />
                               
                            </div>
                        </div>
                        <div class="bottom-content">
                            <div class="row align-items-end">
                                <div class="col-lg-4 col-md-4 col-12">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <div class="button cart-button">
                                            <button class="btn" id="btnAgregarAlCarrito" style="width: 100%;">Agregar a Carrito   </button>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="button cart-button">
                                            <button class="btn  justify-content-center" onclick="window.location.href='@Url.Action("","Login")'" style="width: 100%;">Agregar a Carrito </button>
                                        </div>

                                    }

                                </div>
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="wish-button">
                                        <button class="btn"><i class="lni lni-reload"></i> Compare</button>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="wish-button">
                                        <button class="btn"><i class="lni lni-heart"></i> To Wishlist</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-details-info">
            <div class="single-block">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="info-body custom-responsive-margin">
                            <h4>Details</h4>
                            <p>
                                @Model.Detalles.
                            </p>
                            <h4>Features</h4>
                            
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
      


    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const botonAgregarAlCarrito = document.getElementById('btnAgregarAlCarrito');

            botonAgregarAlCarrito.addEventListener('click', function () {
                // Obtener la ID del producto desde el modelo de Razor
               
                let cantidad = document.getElementById('cantidad').value;

                // Crear un objeto con los datos del producto
                const carrito = {
                    IdProducto: '@Model.IdProducto',
                    Cantidad: cantidad,
                    PrecioUnitario: '@Model.Precio'
                };

                // Realizar una solicitud POST al servidor
                fetch('@Url.Action("AgregarAlCarrito", "Carrito")', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(carrito)
                })
                    .then(response => response.text()) // Leer el cuerpo de la respuesta como texto
                    .then(data => {
                        if (data === "Producto agregado al carrito correctamente") {
                            // Manejar la respuesta si es exitosa
                            Swal.fire({
                                title: 'Nuevo',
                                text: '¡Producto agregado!',
                                confirmButtonText: 'OK'
                            }).then((result) => {
                                // Redirigir después de hacer clic en OK
                                window.location.href = '@Url.Action("Index", "Home")';
                            });
                        } else if (data === "CantidadMayor") {
                            // Manejar errores si la respuesta no es exitosa
                            Swal.fire({
                                title: 'Limite',
                                text: '¡El limite es de 5 productos!',
                                confirmButtonText: 'OK'
                            });
                        } else if (data === "Nohaysuficiente") {
                            // Manejar errores si la respuesta no es exitosa
                            Swal.fire({
                                title: 'Stock',
                                text: '¡No hay suficientes productos actualmente !',
                                confirmButtonText: 'OK'
                            });
                        } else {
                            // Manejar errores si la respuesta no es exitosa
                            console.error('Error al agregar producto al carrito');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });

            });
        });
    </script>
}

