
@{
    ViewData["Title"] = "FacturaDetalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<DetalleVenta>

<div class="container mt-5 px-2">

    <div class="mb-2 d-flex justify-content-between align-items-center">



        <div class="position-relative">
            <a class="justify-content-between text-decoration-none  btn  btn-light" href="@Url.Action("","Perfil")">
                <i class="fas fa-sign-out-alt"></i> Volver

            </a>
           

        </div>


    </div>

    <hr />
    <div class="table-responsive">
        <table class="table table-responsive table-borderless">

            <thead>
                <tr class="bg-light">
                

                    <th scope="col" width="20%">Producto</th>
                    <th scope="col" width="20%">Fecha</th>
                    <th scope="col" width="20%">Cantidad</th>
                    <th scope="col" width="20%">TipoPago</th>
                    
                    <th scope="col" width="20%">Precio Unitario</th>
                    <th scope="col" width="20%">Precio Total</th>
                 
                </tr>
            </thead>
            <tbody>
                @foreach (var detalleVenta in Model)
                {
                    <tr>
                     
                        <td>@detalleVenta.Producto.Nombre</td>
                        <td>@detalleVenta.Venta.Fecha</td>
                        <td>@detalleVenta.Cantidad</td>
                        <td>@detalleVenta.TipoPago</td>
                        <td>@detalleVenta.Producto.Precio</td>
                        <td>@detalleVenta.PrecioTotal</td>
                       

                    </tr>

                }

               


            </tbody>
        </table>

        <div>
            <i>Total de Compra</i>
            <input readonly value="₡ @ViewData["PrecioFinal"]" class="form-control border-0" />
            <hr />

        </div>

    </div>





        </div>









       </div>

