@using Microsoft.AspNetCore.Authorization

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>ShopGrids - Bootstrap 5 eCommerce HTML Template.</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="~/image/x-icon" href="~/images/favicon.svg" />

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/LineIcons.3.0.css" />
    <link rel="stylesheet" href="~/css/tiny-slider.css" />
    <link rel="stylesheet" href="~/css/glightbox.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    @await RenderSectionAsync("Estilos", required: false)
</head>


<body>
    <header class="header navbar-area">
        <!-- Start Topbar -->
        <div class="topbar">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="top-left">
                            <ul class="menu-top-link">
                                <li>
                                  
                                </li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li>
                                        <a href="@Url.Action("CerrarSesion","Usuario")">Cerrar Sesion </a>
                                    </li>
                                    
                                }
                               
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="top-middle">
                          

                            <ul class="useful-links">
                  
                                <li><a href="@Url.Action("Index","Home")">Inicio</a></li>
                                <li><a href="@Url.Action("AboutUs","Home")">Sobre nosotros</a></li>
                            
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="top-end">
                           
                            <ul class="user-login">

                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <li>
                                        <a href="@Url.Action("Index","Login")">Iniciar Sesion</a>
                                    </li>

                                    <li>
                                        <a href="@Url.Action("Index","Registro")">Registrarse</a>
                                    </li>
                                    
                                }

                                @{
                                    var isAuthenticated = User.Identity.IsAuthenticated;
                                    var isAdminOrEmployee = User.IsInRole("Admin") || User.IsInRole("Empleado");
                                }

                                @if (isAuthenticated && isAdminOrEmployee)
                                {
                                   
                            

                                    

                                    <li>
                                        <a href="@Url.Action("Index","AdminProducto")">(ADMIN)</a>
                                    </li>
                                }
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <div class="user">
                                        <i class="lni lni-user"></i>
                                        <a href="@Url.Action("Index","Perfil")">
                                            @User.Identity.Name
                                        </a>
                                    </div>
                                }


                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Topbar -->
        <!-- Start Header Middle -->
        <div class="header-middle">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-3 col-7">
                        <!-- Start Header Logo -->
                        <a class="navbar-brand" href="@Url.Action("Index","Home")">
                            <img src="~/images/logo/logo.svg" alt="Logo">
                        </a>
                        <!-- End Header Logo -->
                    </div>
                    <div class="col-lg-5 col-md-7 d-xs-none">

                        

                            <div class="main-menu-search">

                            <form id="searchForm" action="@Url.Action("BuscarProductos", "Producto")" method="GET" class="d-flex">

                                <div class="search-input">
                                    <input type="text" id="searchInput" name="searchInput" placeholder="Search">
                                </div>
                                <div id="searchButton" class="search-btn">
                                    <button type="submit"><i class="lni lni-search-alt"></i></button>
                                </div>

                            </form>
                                <!-- navbar search start -->
                                <div class="navbar-search search-style-5">

                               
                                <div class="search-select"></div>

                                   
                               

                                 



                                </div>
                                <!-- navbar search Ends -->
                            </div>

                      
                        <!-- Start Main Menu Search -->
                       
                        <!-- End Main Menu Search -->
                    </div>
                    <div class="col-lg-4 col-md-2 col-5">
                        <div class="middle-right-area">
                            <div class="nav-hotline">
                                <i class="lni lni-phone"></i>
                                <h3>
                                    Hotline:
                                    <span>(+100) 123 456 7890</span>
                                </h3>
                            </div>

                            <div class="navbar-cart">
                                <div class="cart-items">
                                    <a href="javascript:void(0)" class="main-btn">
                                        <i class="lni lni-cart"></i>
                                        @if (ViewData["CantidadProductos"] != null)
                                        {
                                             <span class="total-items">@ViewData["CantidadProductos"]</span> 
                                        }
                                        else
                                        {
                                            <span class="total-items">0</span>
                                        }

                                    </a>
                                    <!-- Shopping Item -->
                                    <div class="shopping-item">
                                        <div class="dropdown-cart-header">
                                        
                                            <a href="cart.html">View Cart</a>
                                        </div>
                                        <ul class="shopping-list">
                                            @if (ViewData["Carrito"] != null)
                                            {
                                                foreach (var producto in ViewData["Carrito"] as List<CarritoDetalle>)
                                                {
                                                    <li>
                                                        <form id="deleteCarForm" asp-action="Eliminar" asp-controller="Carrito" method="post">
                                                            <input type="hidden" value="@producto.Id" name="IdProducto" id="IdProducto">
                                                            <a href="javascript:void(0)" class="remove" title="Remove this item">
                                                                <button type="submit" class="lni lni-close"></button>
                                                            </a>
                                                        </form>

                                                        <div class="cart-img-head">
                                                            <a class="cart-img" href="product-details.html">
                                                                <img src="data:image/png;base64,@producto.IdProductoNavigation.Foto" alt="#">
                                                            </a>
                                                        </div>

                                                        <div class="content">
                                                            <h4>
                                                                <a href="product-details.html">
                                                                    @producto.IdProductoNavigation.Nombre
                                                                </a>
                                                            </h4>
                                                            <p class="quantity">@producto.Cantidad x - <span class="amount">$ @producto.PrecioUnitario</span></p>
                                                        </div>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                        <div class="bottom">
                                            <div class="total">
                                                <span>Total</span>
                                                <!-- Aquí debe ir la lógica para calcular el total -->
                                                <span class="total-amount">$</span>
                                            </div>
                                            <div class="button">
                                                @if (!User.Identity.IsAuthenticated || ViewData["CantidadProductos"] == null)
                                                {
                                                    <a href="@Url.Action("Index","Login")" class="btn animate">Checkout</a>
                                                }
                                                
                                               

                                            </div>
                                        </div>
                                    </div>
                                    <!--/ End Shopping Item -->
                                </div>
                            </div>
                        </div>
                    </div>

                  </div>
                  </div>
                   
            </div>

           
        </div>



             



        <!-- End Header Middle -->
    <div class="container">
        <main role="main" class="pb-3">

            <div>
                @RenderBody()
            </div>
            
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ProyectoPAU - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

        <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
        <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
        <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
        <script src="https://cdn.amcharts.com/lib/5/locales/de_DE.js"></script>
        <script src="https://cdn.amcharts.com/lib/5/geodata/germanyLow.js"></script>
        <script src="https://cdn.amcharts.com/lib/5/fonts/notosans-sc.js"></script>\


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.7/dist/sweetalert2.all.min.js" asp-append-version="true"></script>
        <script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.6.20/fetch.min.js" integrity="sha512-5vzl35V/cPSXliPbZtxHY0Q6cfYFd2Qld79+d7wLPbOxnKeCHH/LmlMD8aYl0ZN5VZPFM2FnKiAjoNJ2k3vrEg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script src="https://unpkg.com/unfetch/dist/unfetch.umd.js" asp-append-version="true"></script>
        <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
        <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>




    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
