
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Estilos {
    <link rel="stylesheet" href="~/css/ProductoDetalle.css" />
}

@model ProyectoPAU.Models.Producto;

<div class="container">
    <div class=" text-center mt-5 ">
        <h1>Editar Productos</h1>
    </div>

    <div class="row ">
        <div class="col-lg-7 mx-auto">
            <div class="card mt-2 mx-auto p-4 bg-light">
                <div class="card-body bg-light">
                    <div class="container">
                        <form id="formularioProducto" enctype="multipart/form-data">
                            <div class="controls">
                                <div class="form-group">
                                    <label for="precio">Nombre:</label>
                                    <input type="text" class="form-control" id="nombre" value="@Model.Nombre" name="nombre" placeholder="Ingrese el nombre del producto">
                                </div>
                                <div class="form-group">
                                    <label for="precio">Precio:</label>
                                    <input type="number" class="form-control" value="@Model.Precio" id="precio" name="precio" placeholder="Ingrese el precio del producto">
                                </div>
                                <div class="form-group">
                                    <label for="tipo">Tipo:</label>
                                    <input type="text" class="form-control" value="@Model.Tipo" id="tipo" name="tipo" placeholder="Ingrese el tipo del producto">
                                </div>
                                <div class="form-group">
                                    <label for="categoria">Categoría:</label>
                                    <select class="form-control" id="categoria" name="categoria">
                                        <option value="">Selecciona una categoría</option>

                                    </select>


                                </div>
                                <div class="form-group">
                                    <label for="descripcion">Descripción:</label>
                                    <textarea class="form-control"  id="descripcion" name="descripcion" rows="3" >@Model.Descripcion</textarea>
                                </div>
                                <div class="form-group">
                                    <label for="detalles">Detalles:</label>
                                    <textarea class="form-control"id="detalles" name="detalles" rows="3">@Model.DetalleVenta</textarea>
                                </div>
                                <div class="form-group">
                                    <label for="marca">Marca:</label>
                                    <input type="text" class="form-control" value="@Model.Marca" id="marca" name="marca" placeholder="Ingrese la marca del producto">
                                </div>
                                <div class="form-group">
                                    <label for="foto">Foto:</label>
                                    <div id="previewContainer">
                                        @if (!string.IsNullOrEmpty(@Model.Foto))
                                        {
                                            <img id="fotoPreview" src="data:image/png;base64,@Model.Foto" class="card-img-top" alt="Foto del producto">
                                        }
                                        else
                                        {
                                            <img id="fotoPreview" src="~/images/default.png" class="card-img-top" alt="Imagen predeterminada">
                                        }
                                    </div>
                                    <input type="file" class="form-control" id="photoFile" name="photoFile" placeholder="Seleccione la foto del producto" onchange="previewFile()">
                                </div>

                                <div class="row mt-2">
                                    <div class="col">

                                        <button type="submit" class="btn btn-dark btn-send pt-2 btn-block">Guardar </button>


                                    </div>


                                    <div class="col">

                                        <a href="@Url.Action("Index")" class="btn btn-light btn-send pt-2 btn-block">Volver</a>


                                    </div>

                                </div>



                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function previewFile() {
            const preview = document.getElementById('fotoPreview');
            const file = document.querySelector('input[type=file]').files[0];
            const reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
            };

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "";
            }
        }
    </script>
}

