@model List<ProyectoPAU.Models.Producto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Estilos{

}

<div class="container mt-5 px-2">

    <div class="mb-2 d-flex justify-content-between align-items-center">

        <div class="position-relative">
            <span class="position-absolute search"><i class="fa fa-search"></i></span>
            <input class="form-control w-100" placeholder="Search by order#, name...">
        </div>

        <div>
            <td class="position-relative">
                <button type="button" class="btn btn-sm btn-light"><a href="@Url.Action("Agregar","AdminProducto")" class="fa fa-trash">Agregar</a> </button>
            </td>
    
        </div>

        


       

    </div>
    <div class="table-responsive">
        <table class="table table-responsive table-borderless">




            <thead>
                <tr class="bg-light">
                    <th scope="col" width="5%"><input class="form-check-input" type="checkbox"></th>
                    <th scope="col" width="5%">#</th>
                    <th scope="col" width="20%">Nombre</th>
                    <th scope="col" width="10%">Marca</th>
                    <th scope="col" width="20%">Precio</th>
                   
                    <th scope="col"  width="20%"><span>Editar</span></th>
                    <th scope="col"  width="20%"><span>Eliminar</span></th>
                </tr>
            </thead>
            <tbody>

               

                @foreach (var producto in Model)
                {
                    <tr>
                        <th scope="row"><input class="form-check-input" type="checkbox"></th>
                        <td>12</td>
                        <td>@producto.Nombre</td>
                        <td><i class="fa fa-check-circle-o green"></i><span class="ms-1">@producto.Marca</span></td>
                        <td> ₡@producto.Precio</td>
                        <td class="">
                            <a asp-controller="AdminProducto" asp-action="Editar" asp-route-IdProducto="@producto.IdProducto" class="btn btn-sm btn-secondary mx-1"><i class="fa fa-pencil"></i> Editar</a>
                        </td>
                        <td class="">
                            <form id="formEliminarProducto" method="post" action="@Url.Action("Eliminar", "AdminProducto")">
                                @Html.Hidden("IdProducto", producto.IdProducto)
                                <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> Eliminar</button>
                            </form>
                        </td>
                    </tr>
                }
               

               
            </tbody>
        </table>

    </div>

</div>


